@mixin menu-box($number) {
  background: lighten($main-menu-color,$number*10);
}

$main-menu-color: #290efe;

.menu1 {
 @include menu-box(1)
}

.menu2 {
@include menu-box(2)
}

.menu3 {
@include menu-box(3)
}

.menu4 {
@include menu-box(4)
}

.menu5 {
@include menu-box(5)
}

.submenu{
  height: 300px;
  width: 100%;
  font-size: 1.25em;
  -webkit-transition: width 2s, -webkit-transform 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
  transition: all 2s ease;

}

.title {
  text-align: center;
  font-size: 2em;
  transition: all 2s ease-out;
}

.title-small {
  font-size: 1em;
}

.clicked{
  width: 25%;
  font-size: .7em;
}
.menu1:hover {
  background: $main-menu-color
}
.menu2:hover {
  background: $main-menu-color
}
.menu3:hover {
  background: $main-menu-color
}
.menu4:hover {
  background: $main-menu-color
}
.menu5:hover {
  background: $main-menu-color
}
